@tailwind base;
@tailwind components;
@tailwind utilities;

.wit {
  --muted: #14140F;
  --primary: #F8FAF8;
}
.mos {
  --muted: #5A5A55;
  --primary: #C3CDC3;
}
.mos-light {
  --muted: #A3ABA3;
  --primary: #54544F;
}
.blu {
  --muted: #5A5A6E;
  --primary: #A0DCE6;
}

body {
  --black: #141A14;
  --white: #FFFFFF;
  --primary: #FFF450;
  --muted: #B9B13D;
  @apply text-base xs:text-lg md:text-xl xl:text-2xl bg-black;
}

.type-ui {
  @apply text-base md:text-lg 2xl:text-xl font-normal leading-none;
}

.layout {
  @apply w-full max-w-screen-3xl;
}

.layout-narrow {
  @apply w-full sm:w-11/12 md:w-5/6 xl:w-9/12;
}

.layout-px {
  @apply px-5 lg:px-10 xl:px-12;
}

.nav-space-x {
  @apply space-x-2 lg:space-x-3.5 xl:space-x-5;
}

.nav-space-x-offset {
  @apply pl-5 nav-space-x;
}

.max-h-content {
  max-height: calc(100vh - 3rem);
  @screen md {
    max-height: calc(100vh - 4rem);
  }
}

.btn {
  @apply inline-flex justify-center items-center whitespace-nowrap font-semibold;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
}

select {
  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add custom arrow */
  /* background-image: url(...); */
}
select::-ms-expand {
  display: none;
}
